Port 2222
ListenAddress 0.0.0.0

AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
PermitRootLogin yes

# allow binding tunnels on 0.0.0.0
GatewayPorts yes

HostKey /etc/ssh/keys/ssh_host_rsa_key
HostKey /etc/ssh/keys/ssh_host_dsa_key
